
.list-group-item.divide-y {
  width: 20vw; /* 設置寬度為視口寬度的35% */
  max-width: 100%; /* 確保不會超出容器寬度 */
  box-sizing: border-box; /* 包含padding和border在寬度計算內 */
/* 其他你需要的樣式 */  
}

.ts-dropdown {
  z-index: 99999; /* 确保这个值高于 modal 的 z-index */
}


.message-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}
.message {
  background-color: white;
  /* color: white; */
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  pointer-events: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.message.visible {
  opacity: 1;
}

.table tbody tr:hover {
  background-color: #f5f5f5; /* 你可以使用你喜欢的颜色 */
  cursor: pointer; /* 可选：显示鼠标悬停时的指针 */
}
.dropdown-item:hover {
  background-color: #f5f5f5; /* 你可以使用你喜欢的颜色 */
  cursor: pointer; /* 可选：显示鼠标悬停时的指针 */
}
